@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #161616;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.header {
  /* margin: 10px; */
  font-size: 2.25rem;
  padding: 0.5rem 1rem;
  display: block;
  background-color: goldenrod;
}

.nav-text {
  padding: 1rem;
  font-size: 1.5rem;
}

.nav-buttons {
  margin: 0.5rem;
  padding: 0.5rem 0.7rem;
  border-radius: 0.75rem;
  border: 1px solid #161616;
  cursor: pointer;
}

.nav-buttons:hover {
  background-color: #161616;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.movies {
  /* display: flex;
  flex-direction: row; */
  color: #ffffff;
}

.movie-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border: 10px solid; */
  /* flex-wrap: wrap; */
  margin: 15px 10px;
}

.movie-image {
  width: 15%;
  /* max-width: 20%; */
  /* padding: 0px; */
  margin: 15px;
  border-radius: 0.5rem;
  border: 2px solid #ffffff;
}

.movie-content {
  font-size: large;
  /* position: relative; */
  /* background-color: gray; */
  /* border: 2px solid; */
  padding: 10px;
  width: 350px;
}

.movie-name {
  padding: 0.75rem;
  font-size: xx-large;
  /* position: absolute;
  left: 26%;
  bottom: 100px; */
}

.movie-rating {
  font-size: small;
  color: goldenrod;
}

.movie-director {
  padding: 0.25rem;
}

.movie-description {
  width: 100%;
  margin: 0 auto;
  padding: 0.25rem;
  font-size: large;
  color: #a9a9a9;
}

/* footer */

.footer {
  background-color: #daa520;
  padding: 2rem 1rem;
  text-align: center;
  color: #161616;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.footer .link {
  color: #161616;
  text-decoration: none;
}

.link {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.link:hover {
  border: 1px solid #5be9b9;
  padding: 3px;
  box-shadow: 2.5px 5px #5be9b9;
}

.footer .footer-header {
  font-weight: bold;
  font-size: larger;
}

.footer ul {
  padding-inline-start: 0px;
  padding: 0.75rem;
  list-style: none;
}

.list-non-bullet {
  list-style: none;
  padding-inline-start: 0px;
}

.list-item-inline {
  display: inline;
  padding: 0rem 0.5rem;
}

@media only screen and (max-width: 900px) {
  html {
    font-size: 50%;
  }

  body {
    background-color: #161616;
  }

  /* .movie-card {
    justify-content: center;
  } */

  .movie-image {
    width: 35%;
  }

  .movie-content {
    width: 350px;
    font-size: small;
    color: #ffffff;
  }

  .movie-description {
    width: 90%;
    margin: 0 auto;
    padding: 0.25rem;
    font-size: 10px;
  }

  .movie-rating {
    font-size: x-small;
    color: goldenrod;
  }

  .movie-name {
    font-size: 2.5rem;
  }
}
